@import "tailwindcss/base";

@import "tailwindcss/components";

// Flash styles
.flash-success {
    @apply bg-green-100;
    @apply border-green-400;
    @apply text-green-700;
}

.flash-danger {
    @apply bg-red-100;
    @apply border-red-400;
    @apply text-red-700;
}

.shadow-b {
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.05);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.05);
}

@import "tailwindcss/utilities";
